<div class="container">
  <form class="m-5">
    <div class="form-group">
      <label for="formMarkupFile">Form markup file</label>
      <input type="file" class="form-control-file" id="formMarkupFile" accept=".json" (change)="onFileChange($event)">
    </div>
  </form>

  <div *ngIf="formWidgets">
    <div class="card" *ngFor="let form of formWidgets">
      <h2 class="card-header">
        {{ form.name }}
      </h2>
      <div class="card-body">
        <form>
          <fieldset *ngFor="let section of form.items">
            <legend>{{ section.header }}</legend>
    
            <div class="form-row">
              <div *ngFor="let field of section.items" class="form-group" [ngClass]="'col-md-' + 12 / section.columns">
                <label for="inputAddress">{{ field.label }}</label>
    
                <ng-container [ngSwitch]="field.type">
                  <input *ngSwitchCase="'input'" type="text" class="form-control" [value]="field.value" [required]="field.required">
                  <div *ngSwitchCase="'currency'" class="input-group">
                    <input [textMask]="{ mask:mask(field.precision || 0), guide:false }" type="text" class="form-control" placeholder="For Example - EUR 0.00"
                      [value]="field.symbol + ' ' + toPrecision(field.value, field.precision || 0)" [required]="field.required"
                    >
                  </div>
                </ng-container>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
